<div class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="bottom-left">
          <img src="public/img/logo.jpg" alt="club logo">
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="bottom-right">
          <h4>CONTACT</h4>
          <h6>BITS, Pilani, Rajasthan, India</h6>
          <h6>+91-9999999999</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>