<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administrator Panel</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Anton|Montserrat|Nanum+Myeongjo:700|Cairo|Exo" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color: #eee">PPC</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> Admin</a>
          <ul class="dropdown-menu">
            <li>
            	<a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
<div class="container panel">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="thumbnail">
				<div class="newsletter-image">
					<img src="">
				</div>
				<div class="caption">
					<h5>Newsletter</h5>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="thumbnail">
				<div class="gd-image">
					<img src="">
				</div>
				<div class="caption">
					<h5>Group Discussion</h5>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
	        
		</div>
	</div>
</div>





<% include ../partials/footer.ejs %>